{{- if .Values.development -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "polytomic.fullname" . }}-development
  labels:
    {{- include "polytomic.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "polytomic.dev-selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
        {{- with .Values.dev.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "polytomic.dev-selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "polytomic.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.dev.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.dev.securityContext | nindent 12 }}
          image: {{ include "polytomic.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          envFrom:
          - secretRef:
              name: {{ include "polytomic.fullname" . }}-config
          volumeMounts:
          - mountPath: /etc/podinfo
            name: podinfo
          env:
          - name: ROLE
            value: web,worker,sync,scheduler
          # Database password needs to be extracted separately for URL construction
          - name: DATABASE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ include "polytomic.postgresql.secretName" . }}
                key: {{ include "polytomic.postgresql.secretKey" . }}
          # Redis password
          {{- if or .Values.redis.enabled .Values.externalRedis.password }}
          - name: REDIS_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ include "polytomic.redis.secretName" . }}
                key: {{ include "polytomic.redis.secretKey" . }}
          {{- end }}
          - name: DEPLOYMENT
            value: local
          - name: NAMESPACE
            value: development
          - name: LOCAL
            value: "true"
          - name: SENTRY_DSN
            value: ""
          {{- if .Values.polytomic.datadog.daemonset.enabled }}
          - name: DD_AGENT_HOST
            valueFrom:
              fieldRef:
                fieldPath: status.hostIP
          {{- end }}
          ports:
            - name: http
              containerPort: 5100
              protocol: TCP
          resources:
            {{- toYaml .Values.dev.resources | nindent 12 }}
      {{- with .Values.dev.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.dev.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.dev.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - downwardAPI:
          defaultMode: 420
          items:
          - fieldRef:
              apiVersion: v1
              fieldPath: metadata.annotations
            path: annotations
        name: podinfo
{{- end }}