{{- if .Values.polytomic.vector.daemonset.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "polytomic.fullname" . }}-vector
  labels:
    {{- include "polytomic.labels" . | nindent 4 }}
    app.kubernetes.io/component: vector
rules:
- apiGroups: [""]
  resources:
  - pods
  - namespaces
  verbs:
  - get
  - list
  - watch
{{- end }}
