{{- if not .Values.development -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "polytomic.fullname" . }}-worker
  labels:
    {{- include "polytomic.labels" . | nindent 4 }}
spec:
  {{- if not .Values.worker.autoscaling.enabled }}
  replicas: {{ .Values.worker.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "polytomic.worker-selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
        {{- with .Values.worker.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "polytomic.worker-selectorLabels" . | nindent 8 }}
        vector.dev/include: "true"
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "polytomic.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.worker.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.worker.securityContext | nindent 12 }}
          image: {{ include "polytomic.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          envFrom:
          - secretRef:
              {{- if .Values.secret.name }}
              name: {{ .Values.secret.name }}
              {{- else }}
              name: {{ include "polytomic.fullname" . }}-config
              {{- end }}
          env:
          - name: ROLE
            value: worker
          # Database password needs to be extracted separately for URL construction
          - name: DATABASE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ include "polytomic.postgresql.secretName" . }}
                key: {{ include "polytomic.postgresql.secretKey" . }}
          # Redis password
          {{- if or .Values.redis.enabled .Values.externalRedis.password }}
          - name: REDIS_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ include "polytomic.redis.secretName" . }}
                key: {{ include "polytomic.redis.secretKey" . }}
          {{- end }}
          {{- if .Values.polytomic.datadog.daemonset.enabled }}
          - name: DD_AGENT_HOST
            valueFrom:
              fieldRef:
                fieldPath: status.hostIP
          {{- end }}
          volumeMounts:
          - mountPath: /etc/podinfo
            name: podinfo
          - mountPath: {{ .Values.polytomic.sharedVolume.mountPath }}
            name: shared-volume
            {{- if .Values.polytomic.sharedVolume.subPath }}
            subPath: {{ .Values.polytomic.sharedVolume.subPath }}
            {{- end }}
          resources:
            {{- toYaml .Values.worker.resources | nindent 12 }}
      {{- if .Values.worker.sidecarContainers }}
      {{- toYaml .Values.worker.sidecarContainers | nindent 8 }}
      {{- end }}
      {{- with .Values.worker.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.worker.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.worker.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      {{- if and .Values.polytomic.sharedVolume.enabled (ne .Values.polytomic.sharedVolume.mode "emptyDir") }}
      - name: shared-volume
        persistentVolumeClaim:
          claimName: {{ .Values.polytomic.sharedVolume.volumeName }}
      {{- else }}
      - name: shared-volume
        emptyDir: {}
      {{- end }}
      - downwardAPI:
          defaultMode: 420
          items:
          - fieldRef:
              apiVersion: v1
              fieldPath: metadata.annotations
            path: annotations
        name: podinfo
{{- end }}